<!DOCTYPE html>
<html>
  <head>
    <title>Bantuan</title>
    <link rel="icon" href="/img/matahari.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>{{teksBantuan}}</p>
    </div>
    {{>footer}}

    <h2>Halaman Bantuan</h2>
    <p>Halaman ini menyediakan informasi yang disediakan oleh aplikasi cuaca untuk membantuk pengguna dalam memahami sistem yang ditampilkan</p>
    <h2>API</h2>
        <p>API adalah singkatan dari "Application Programming Interface" (Antarmuka Pemrograman Aplikasi). Ini adalah seperangkat aturan, protokol, dan alat yang memungkinkan berbagai perangkat lunak atau aplikasi komputer untuk berkomunikasi satu sama lain</p>
    <h2>API apa yang digunakan dalam website ini</h2>
        <p>OpenWeatherMap, layanan penyedia data cuaca yang real time</p>
    <h2>Arsitektur API</h2>
        <p>SOAP adalah protokol yang digunakan untuk pertukaran pesan atau data antara aplikasi yang berbeda</p>
  </body>  
</html>