<!DOCTYPE html>
<html>
  <head>
    <title>About Caca</title>
    <link rel="icon" href="/img/caa.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
      <div class="main-content">
      {{>header}}
      <img class="portrait" src="/img/caca.jpg" alt="author">
    </div>
    {{>footer}}
  </body>
    <body>
    <h2>Data Pribadi</h2>
    <p>Nama         : Salsabilla Ahmad</p>
    <p>NIM          : 21343072</p>
    <p>Tanggal Lahir: 07 Juni 2003</p>
    <p>Alamat       : Bukittinggi</p>
    <p>Email        : salsabillaahmad10@gmail.com</p>
    <p>Telepon      : 082386669705</p>
    <h2>Pendidikan</h2>
        <p>SMK Negeri 1 Kota Bukittinggi</p>
        <p>Universitas Negeri Padang</p>
        <p>S1 Informatika</p>
    <h2>Pengalaman Pelatihan</h2>
  
        <p>Sertifikat ILO Clevio Coder Camp</p>
        <p>Sertifikat MTCNA</p>
        <p>Sertifkat LSP Burung Garuda</p>
      <!-- footer -->
  <footer>
      <div class="container">
          <small>Copyright &copy; 2023 - Salsabilla Ahmad. All Right Reserved.</small>
      </div>
      
  </footer>
  
</body>
</html>